body {
    color : rgb(0, 0, 0); 
    background-color:  rgba(223, 223, 223, 0.973);
    padding-right: 5px;
    padding-bottom: 2.5em; 
    width: 90%;
    }
    body h1 
    {font-family:Monospace;   
    font-size: 3.1em;  
    padding : 5px;
    border-left : 5px solid rgb(0, 0, 0);  
    border-bottom : 2px solid navy;      
    }
    body h2
       {  font-size: 1.4em; 
       font-family: Times New Roman;
       margin : 5px; 
       display: inline; 
      

    border-left : 3px solid rgb(0, 0, 0); 
    }
    body img
          { 
    float:left; 
    padding: 25px; 
          }     
    body strong
       {
       font-size: 1.3em; 
       }
    body p 
    { font-family: Georgia;
      color: black;       
      font-weight: 300 ;     
      text-align : left;
    }   
    { 
      font-family:Serif;   
       color: rgb(0, 0, 0);             
      font-weight: 750; 
      font-style : oblique; 
      text-align : left;
      padding : 6px; 
    }
    body li
       {
       font-size:  1.1em ;      
       }
    body ol li
        {
       font-size:  1.3em ;    
       }
    
  
